<?xml version="1.0" ?>
<launch>

	  <node pkg="rosserial_python" type="serial_node.py" name="foot_platform_0" respawn="false" output="screen">
      	    <param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="115200"/>
      </node>
	  <node pkg="rosserial_python" type="serial_node.py" name="foot_platform_1" respawn="false" output="screen">
      	    <param name="port" value="/dev/ttyACM1"/>
			<param name="baud" value="115200"/>
      </node>


</launch>
